*.cs      text    eol=LF
*.json    text    eol=LF
*.liquid  text    eol=LF
*.xml     text    eol=LF
*.ccda    text    eol=LF
*.hl7     text    eol=LF
*.md      text    eol=LF

## Ensure eol not changed only for unit tests. 
src/Microsoft.Health.Fhir.TemplateManagement.UnitTests/TestData/MockUserFolder/*.* binary