<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="FHIR Analysis Rules" Description="The code analysis rules used for the FHIR Converter C# source projects." ToolsVersion="14.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA0001" Action="None" />
    <Rule Id="SA1101" Action="None" />
    <Rule Id="SA1308" Action="None" />
    <Rule Id="SA1309" Action="None" />
    <Rule Id="SA1512" Action="None" />
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1602" Action="None" />
    <Rule Id="SA1615" Action="None" />
    <Rule Id="SA1623" Action="None" />
    <Rule Id="SA1629" Action="None" />
    <Rule Id="SA1652" Action="None" />
  </Rules>
</RuleSet>